<!DOCTYPE html>
<html>

<head>
    <title>DreamHome Rental Business</title>
    <link rel="stylesheet" href="../static/index/style.css">
    <script src="../static/components/header.js" type="text/javascript" defer></script>
</head>

<body>
    <div id="navbar" class="page">
        <header-component></header-component>
    </div>
    <div id="info" class="page">
        <main>
            <section id="about">
                <div id="logo-img"> <img src="../static/images/DreamHomeLogo.png" alt="logo"></div>

                <h2>About Us</h2>
                <p>Dream Home Company is a mediator between clients and house owners. We provide rental services for
                    people
                    who are looking for a place to live. Our mission is to connect people with their dream homes and
                    make
                    the process as smooth as possible.</p>
            </section>
        </main>
    </div>
    <footer>
        <p>&copy; 2023 DreamHome Rental Business</p>
    </footer>
</body>

</html>